{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 class="text-center text-light">Football</h1>
    <h3 class="text-center text-light">Team Details</h3>
    <form class="bg-secondary text-light" method="post" action="/">
      {% csrf_token %}
      <div class="mb-3">
        <label for="captain_name" class="form-label">Captain's Name</label>
        <input type="text" class="form-control" id="captain_name" name="captain_name" value="{{captain.captain_name}}">
      </div>
      <div class="mb-3">
        <label for="captain_email" class="form-label">Captain's Email</label>
        <input type="email" class="form-control" id="captain_email" name="captain_email" value="{{captain.captain_email}}">
      </div>
      <div class="mb-3">
        <label for="size" class="form-label">Team Size</label>
        <input type="number" class="form-control" id="team_size" name="team_size" value="{{team_size}}">
      </div>
      {% for i in team_size_list %}
      <h5 class="text-center text-light my-3"> Team Member {{i}}</h5>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email-{{i}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name-{{i}}" class="form-control" id="exampleInputPassword1">
      </div>
      {% endfor %}
    
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
{% endblock body %}